<!DOCTYPE html>
<html>
    <head>
        <% include template/head_js_css.ejs %>
        <% include template/dashboard_js_css.ejs %>
    </head>
    <body>
        <% include template/sidebar_dashboard.ejs %>
            Realtime
            </div>
        </div>
    </body>
</html>
