<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/dashboard"><img src="http://pngimg.com/uploads/google/google_PNG19644.png" alt="" width="100px"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">追蹤儀表板 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trigger">自動化觸發設定</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/setting">其他追蹤設定</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><a href="/">登出</a></button>
        </div>
    </div>
</nav>