<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="/dashboard">Web Tracking</a></h3>
        </div>

        <ul class="list-unstyled components">
            <p>2018/07/14</p>
            <li>
                <a href="/dashboard#realtime">
                    <i class="fa fa-home"></i>
                    追蹤儀表板
                </a>
            </li>
            <li>
                <a href="/trigger">
                    <i class="fa fa-copy"></i>
                    自動化觸發設定
                </a>
            </li>
            <li>
                <a href="/setting">
                    <i class="fa fa-sliders"></i>
                    其他追蹤設定
                </a>
            </li>
            <li>
                <a href="/account">
                    <i class="fa fa-user"></i>
                    帳戶設定
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-sign-out"></i>
                    登出
                </a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-align-left"></i>
                </button>

            </div>
        </nav>
        <h1><%= headline %></h1>
        <div class="line"></div>
